body {
  margin: 0.5em;
}
body,
select,
textarea,
input,
button {
  font: 1em normal Helvetica, Arial, sans-serif;
  color: #222;
}
select {
  border-width: 0 0 1px 0;
  border-bottom: 1px solid #00f;
  background-color: transparent;
}
form {
  border: 0.1em solid #eee;
  box-shadow: 0em 0.1em 0.1em #ccc;
}
form,
h1,
p {
  max-width: 34rem;
  margin-left: auto;
  margin-right: auto;
}
form,
p {
  border-radius: 0.5em;
  padding: 1em;
}
h1 {
  font-size: 1.8em;
  font-weight: normal;
  margin-bottom: 0.5em;
}
p {
  background: #ffc;
  line-height: 1.4;
  margin-bottom: 1em;
}
textarea {
  font-family: "Courier New", Courier, monospace;
  box-sizing: border-box;
  text-align: right;
  margin: 0.2em 0;
  padding: 0.2em;
}
button,
textarea {
  font-size: 1.5em;
  width: 100%;
}
button {
  color: #00f;
}
#v3 {
  border-width: 1px 0 0 0;
}
#v3:focus {
  border-color: transparent;
}
nav {
  margin: 1.2em 0;
  text-align: center;
}
ul {
  list-style: none;
  padding: 0;
}
li {
  display: inline;
  margin: 0 1.5em;
}
abbr {
  text-decoration: none;
}
@media (max-width: 40em) {
  html form {
    border: 0;
    box-shadow: none;
    padding: 0;
  }
}
